.recommendation-list {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  gap: 10px;
  margin: 16px auto;
}

.recommendation-card {
  height: 450px;
  flex: 0 0 calc(25% - 10px);
  min-width: 200px;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 8px;
  position: relative;
}

  .recommendation-card > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    zoom: 1.5;
  }

  .recommendation-card h2 {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .recommendation-card button {
    font-weight: bold;
    padding: 4px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 16px;
    transition: background ease-in-out 0.3s;
    margin-left: auto;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: auto;
  }

    .recommendation-card button:hover {
      background: #aaa;
    }
