.monument-details-container {
  height: fit-content;
  padding: 16px;
  border: 4px solid #296;
  border-radius: 8px;
  background: #0fefa5;
  width: 70%;
  margin: 16px auto;
}

  .monument-details-container > button {
    font-weight: bold;
    font-size: 16px;
    border: 4px solid black;
    background: #296;
    display: block;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
  }

  .monument-details-container > h2 {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
  }

.monument-description {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-top: 32px;
}

  .monument-description > article {
    text-align: justify;
    margin-left: 16px;
    font-family: 'Sans Serif Collection';
  }

.leave-review-section {
  margin-top: 16px;
}

  .leave-review-section h2 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .leave-review-section input, .leave-review-section textarea {
    width: 100%;
    border: 4px solid gray;
    border-radius: 4px;
    background: #6df797;
    margin-bottom: 12px;
    padding: 4px;
    box-sizing: border-box;
  }

  .leave-review-section textarea {
    resize: vertical;
  }

  .leave-review-section button {
    border: 2px solid gray;
    border-radius: 4px;
    background: #6df797;
    font-weight: bold;
    padding: 4px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }


.review {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 6px;
  border: 3px solid green;
}

  .review > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0;
  }


@media screen and (max-width: 800px) {

  .monument-description {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    margin-top: 32px;
  }

    .monument-description > article {
      margin-left: 0px;
    }

    .monument-description > img {
      width: 100%;
      object-fit: contain;
      object-position: bottom;
    }
}
