.sign-in-container {
  margin: 40px auto;
  width: 600px;
  border: 8px solid #296;
  border-radius: 16px;
  background-color: #276;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 16px;
}

  .sign-in-container h3 {
    text-align: center;
    font-weight: bold;
    margin: 8px 0;
  }

.error-paragraph {
  color: red;
  margin: 8px auto;
}

@media screen and (max-width: 800px) {
  .sign-in-container {
    width: 70%;
    min-width: 450px;
  }

    .sign-in-container label {
      font-size: 16px;
    }
}

.information-module {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}


  .information-module:last-of-type {
    margin-bottom: 8px;
  }

  .information-module > label {
    margin-right: 16px;
    font-size: 16px;
  }

.preference-module {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

  .preference-module > label {
    margin-left: 16px;
    font-size: 16px;
  }

  .preference-module > input {
    zoom: 1.5;
  }

.information-module input {
  margin-right: 0;
  background: white;
  display: flex;
  align-items: center;
  line-height: inherit;
  color: black;
  width: 75%;
  font-size: 1rem;
  padding: 8px;
  line-height: 1rem;
  border-radius: 4px;
}

  .information-module input[type="number"] {
    width: 10%;
  }

.sign-in-container button {
  padding: 8px;
  color: white;
  margin: 16px auto 0 auto;
  display: block;
  font-weight: bold;
  border: 4px solid #296;
  cursor: pointer;
  border-radius: 4px;
}

#sign-in-paragraph {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

#to-login-anchor {
  color: black;
  text-decoration: underline;
  font-weight: 500;
}
