.options-list {
  width: 880px;
  height: fit-content;
  border: 4px solid black;
  border-radius: 16px;
  background: #296;
  padding: 16px;
  margin: 32px auto;
}

.options-list h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.option {
    width: 100%;
    margin: 8px 0;
    font-family: Rockwell;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: #209347;
    color: white;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid black;
}

.add-option {
    width: 35%;
    cursor: pointer;
    background: aquamarine;
    color: black;
    text-align: center;
    border: 4px solid black;
    border-radius: 8px;
    padding: 4px;
}

.btns-container {
    display: flex;
    justify-content: space-evenly;
}


.preference-module input[type="checkbox"] {
  zoom: 1.5;
}

.preference-module:last-of-type{
  margin-bottom: 16px;
}

.preference-module label {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}


.preference-module {
    display: flex;
    align-items: center;
}