* {
    margin: 0;
    padding: 0;
}

.main-pages-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 64px;
}

.main-pages-list > li {
    padding: 16px 24px;
    color: black;
    transition: color 0.3s ease;
}

.main-pages-list > li:hover {
    color: #999;
}

#main-header {
    background-color: #296;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#main-header > span {
    letter-spacing: 5px;
    font-weight: bold;
    margin-left: 16px;
}